@import url(https://fonts.googleapis.com/css?family=Markazi+Text:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Karla:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
.myContainer {
  margin: 0px 200px;
}

.btn,
.btn:hover {
  background-color: #f4ce14;
  border-color: black;
  color: black;
}
.btn:active,
.btn:hover:active {
  background-color: #f4ce14;
  border-color: black;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Hero {
  background-color: #495e57;
  padding: 30px 0px;
}
.Hero div.myContainer {
  position: relative;
  display: flex;
}
.Hero div.myContainer > div {
  width: 50%;
  color: black;
}
.Hero div.myContainer img {
  height: 280px;
  position: absolute;
  border-radius: 12px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  right: 0px;
  top: 50%;
}

.Highlights {
  margin: 160px 0px;
}
.Highlights .header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.Highlights .header button {
  border: none;
  padding: 8px 15px;
  height: -moz-fit-content;
  height: fit-content;
}
.Highlights .header > p {
  font-size: 30px;
  font-weight: bold;
  font-family: karla;
}
.Highlights .cards {
  display: flex;
  gap: 30px;
}
.Highlights .cards .card {
  width: 33%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
.Highlights .cards .card img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Highlights .cards .card > div {
  padding: 10px;
}
.Highlights .cards .card .title-price {
  display: flex;
  justify-content: space-between;
}
.Highlights .cards .card .title-price .title {
  font-weight: 600;
  font-family: markzi text;
  font-size: 20px;
}
.Highlights .cards .card .title-price .price {
  color: #ee9972;
  font-weight: bold;
  font-family: karla;
}

.Testimonials {
  background-color: #d9d9d9;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.Testimonials > p {
  font-family: "markazi text";
  font-size: 36px;
  text-align: center;
}
.Testimonials .Testimonials-cards {
  display: flex;
  justify-content: space-between;
}
.Testimonials .Testimonials-cards .testimonial {
  font-family: karla;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  width: 225px;
  height: 200px;
  padding: 10px;
}
.Testimonials .Testimonials-cards .testimonial .rating {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.Testimonials .Testimonials-cards .testimonial .rating .rating-value {
  width: -moz-fit-content;
  width: fit-content;
  color: gold;
}
.Testimonials .Testimonials-cards .testimonial .img-name {
  display: flex;
  align-items: center;
  gap: 40px;
}
.Testimonials .Testimonials-cards .testimonial .img-name p {
  margin-bottom: 0px;
}
.Testimonials .Testimonials-cards .testimonial .img-name img {
  width: 80px;
}

.About {
  margin: 250px 0px;
}
.About .myContainer {
  display: flex;
  justify-content: space-between;
}
.About .myContainer .images {
  position: relative;
}
.About .myContainer .images img {
  height: 240px;
  width: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}
.About .myContainer .images img:nth-of-type(1) {
  position: absolute;
  top: 50%;
  right: 50%;
}
.About .myContainer .text {
  width: 50%;
}
.About .myContainer .text p:nth-of-type(1) {
  font-family: "markazi text";
  font-size: 50px;
}
.About .myContainer .text p:nth-of-type(2) {
  font-family: "markazi text";
  font-size: 36px;
}
.About .myContainer .text p:nth-of-type(3) {
  font-family: "karla";
  font-size: 20px;
}

.Footer {
  padding: 20px 0px;
  font-family: "karla";
  background-color: #d9d9d9;
}
.Footer .myContainer {
  display: flex;
  justify-content: space-between;
}
.Footer .myContainer > div {
  width: 33%;
}
.Footer .myContainer > div p {
  font-weight: bolder;
}
.Footer .myContainer > div ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.Footer .myContainer > div ul li {
  list-style: none;
}/*# sourceMappingURL=customStyling.css.map */